<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<nav
  class="navbar navbar-expand-sm navbar-light bg-white border  border-dark-subtle shadow-sm text-white fw-medium fixed-top z-3">
  <div class="container">
    <a class="navbar-brand text-danger " href="#"> Ecommerce /</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-6 active text-primary" routerLink="/procuts" routerLinkActive="active"
            ariaCurrentWhenActive="page" aria-current="page">My Store
            <span class="visually-hidden">(current)</span></a>
        </li>
      </ul>
      <form class="d-flex my-2 my-lg-0">
        <a routerLinkActive="active" routerLink="/cart" mat-raised-button>
          <em class="material-icons">shopping_cart</em>CheckOut
        </a>
      </form>
    </div>
  </div>
</nav>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>
